// FONT-SIZE
$default-font-size: 1.6rem;


// COLOR CODES
$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #a9a9a9;


// GRID
$grid-width: 1140px;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;


// BORDER-RADIUS
$border-radius: .7rem;