// FONT-SIZE
$default-font-size: 1.6rem;


// COLOR CODES
$color-primary-light-1: rgb(242, 246, 255);
$color-primary-light: rgb(48, 161, 255);
$color-primary: rgb(0, 150, 255);
$color-primary-dark: rgb(48, 115, 255);

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #a9a9a9;


// GRID
$grid-width: 1140px;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;


// BORDER-RADIUS
$border-radius: .7rem;