/* Basic Reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    // Definition for 1 rem
    font-size: 62.5%; /* 10px in % form */
}

body{
    box-sizing: border-box;
}